<div class="container mt-5 text-center">
    <div class="row ">
    <div class="col-2 bg-danger">
        <img src="assets/güzellik.jpg" class="img-fluid rounded-circle">
        <a href="güzellik"class="text-white bg-dark">Güzellik Sırları</a>
    </div>
    
    <div class="col-2 bg-success">
        <img src="assets/temizlik.jpg" class="img-fluid rounded-circle">
        <a href="temizlik"class="text-white bg-dark">Temizlik İpuçları</a>
    </div>
    
    <div class="col-2 bg-warning">
        <img src="assets/sac.jpg" class="img-fluid rounded-circle">
        <a href="saç"class="text-white bg-dark">Saç Boyama</a>
    </div>
    
    <div class="col-2 bg-primary">
        <img src="assets/spor.jpg" class="img-fluid rounded-circle">
        <a href="spor"class="text-white bg-dark">Spor</a>
    </div>
    
    <div class="col-2 bg-success">
        <img src="assets/tatil.jpg" class="img-fluid rounded-circle">
        <a href="tatil"class="text-white bg-dark">Tatil&Seyahat</a>
    </div>
    
    <div class="col-2 bg-primary">
        <img src="assets/moda.jpg" class="img-fluid rounded-circle">
        <a href="moda" class="text-white bg-dark">Moda&Stil</a>
    </div>
    
    </div>
    </div>


    
    <div class="container mt-5">
        <div class="jumbotron bg-dark text-white"  [ngClass]="{'class': true}">
            <h1 class="display-4">Lorem İpsum</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum impedit illo nam neque veniam, quisquam a autem provident exercitationem reprehenderit excepturi tempora eum ipsa aliquam sed esse nemo enim laboriosam.
            Eligendi maiores accusamus</p>
        </div>
    </div>





